@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

.mainContainer {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  display: flex;
  padding: 2em 5em;
}

.featureSection{
  flex: 1 0 30%;
  margin: 0 1em;
}

.linkInputSection{
  flex: 1 0 70%;
  margin: 0 1em;
}

.featureList {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.featureItem {
  flex: 1 0 50%; /* This will make 3 items per row */
  margin: 1.5%;
  padding: 1em;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  background: #FFFFFF; /* Set the background color of your choice */
}

.featureItem:hover {
  box-shadow: 0 8px 12px 0 hsla(0, 0%, 0%, 0.2);
  transform: scale(1.05);
}
